<div class="row">
  <%= render "links" %>

  <div class="medium-10 columns">
    <div class="movie">
      <%= render partial: "movie", object: @movie %>
    </div>

    <div>
      <%= button_to "Rent!", movie_rentals_path(@movie), class: :button %>
    </div>

    <div>
      <%= link_to "Back", movies_path, class: :button %>
    </div>

  </div>
</div>
